@import "mixins.scss";
#FillTankContent_GroupBox8 {
	@include elemTop(0);
}
#FillTankContent_GroupBox8 {
	@include elemLeft(0);
}
#FillTankContent_GroupBox8 {
	@include elemWidth(1480);
}
#FillTankContent_GroupBox8 {
	@include elemHeight(800);
}
#FillTankContent_GroupBox8 {
		z-index: 0;
}
#FillTankContent_GroupBox8 {
	@include border-radius(10px);
}
#FillTankContent_GroupBox8 {
		background-color: rgba(245, 245, 245, 1);
}
#FillTankContent_GroupBox8 {
		border-color: rgba(0, 0, 0, 1);
}
#FillTankContent_GroupBox8 {
	> .header{
		border-color: rgba(0, 0, 0, 1);
	}
}
#FillTankContent_GroupBox1 {
	@include elemTop(7);
}
#FillTankContent_GroupBox1 {
	@include elemLeft(1138);
}
#FillTankContent_GroupBox1 {
	@include elemWidth(325);
}
#FillTankContent_GroupBox1 {
	@include elemHeight(784);
}
#FillTankContent_GroupBox1 {
		z-index: 0;
}
#FillTankContent_GroupBox1 {
		border-width: 3px;
}
#FillTankContent_GroupBox1 {
	> .header{
		border-width: 3px;
	}
}
#FillTankContent_GroupBox1 {
	@include border-radius(10px);
}
#FillTankContent_GroupBox1 {
		background-color: rgba(245, 245, 245, 1);
}
#FillTankContent_GroupBox1 {
		border-color: rgba(30, 176, 173, 1);
}
#FillTankContent_GroupBox1 {
	> .header{
		border-color: rgba(30, 176, 173, 1);
	}
}
#FillTankContent_GroupBox1 {
		border-style: outset;
}
#FillTankContent_GroupBox1 {
	> .header{
		border-bottom-style: outset;
	}
}
#FillTankContent_GroupBox1 {
	> .header span{
		font-size: 30px;
	}
}
#FillTankContent_GroupBox1 {
	> .header{
	height: 30px + 20px;
	}
}
#FillTankContent_GroupBox2 {
	@include elemTop(50);
}
#FillTankContent_GroupBox2 {
	@include elemLeft(17);
}
#FillTankContent_GroupBox2 {
	@include elemWidth(289);
}
#FillTankContent_GroupBox2 {
	@include elemHeight(254);
}
#FillTankContent_GroupBox2 {
		z-index: 0;
}
#FillTankContent_GroupBox2 {
		border-width: 3px;
}
#FillTankContent_GroupBox2 {
	> .header{
		border-width: 3px;
	}
}
#FillTankContent_GroupBox2 {
	@include border-radius(10px);
}
#FillTankContent_GroupBox2 {
		border-color: rgba(30, 176, 173, 1);
}
#FillTankContent_GroupBox2 {
	> .header{
		border-color: rgba(30, 176, 173, 1);
	}
}
#FillTankContent_GroupBox2 {
		border-style: outset;
}
#FillTankContent_GroupBox2 {
	> .header{
		border-bottom-style: outset;
	}
}
#FillTankContent_NumericOutput1 {
	@include elemTop(15);
}
#FillTankContent_NumericOutput1 {
	@include elemLeft(8);
}
#FillTankContent_NumericOutput1 {
	@include elemAutoWidth(125);
}
#FillTankContent_NumericOutput1 {
	@include elemAutoHeight(40);
}
#FillTankContent_NumericOutput1 {
		z-index: 0;
}
#FillTankContent_NumericOutput1 {
		border-width: 2px;
}
#FillTankContent_NumericOutput1 {
	@include border-radius(5px);
}
#FillTankContent_NumericOutput1 {
		background-color: rgba(245, 245, 245, 1);
}
#FillTankContent_NumericOutput1 {
		border-style: outset;
}
#FillTankContent_NumericOutput1 {
	input{
	@include text-alignment(left);
	}
}
#FillTankContent_Label1 {
	@include elemAutoHeight(30);
}
#FillTankContent_Label1 {
	@include elemTop(16);
}
#FillTankContent_Label1 {
	@include elemLeft(139);
}
#FillTankContent_Label1 {
	@include elemAutoWidth(86);
}
#FillTankContent_Label1 {
		z-index: 1;
}
#FillTankContent_NumericInput1 {
	@include elemTop(91);
}
#FillTankContent_NumericInput1 {
	@include elemLeft(8);
}
#FillTankContent_NumericInput1 {
	@include elemAutoWidth(125);
}
#FillTankContent_NumericInput1 {
	@include elemAutoHeight(40);
}
#FillTankContent_NumericInput1 {
		z-index: 2;
}
#FillTankContent_NumericInput1 {
	@include border-radius(5px);
}
#FillTankContent_NumericInput1 {
	input{
	@include text-alignment(left);
	}
}
#FillTankContent_Label2 {
	@include elemAutoHeight(30);
}
#FillTankContent_Label2 {
	@include elemTop(96);
}
#FillTankContent_Label2 {
	@include elemLeft(139);
}
#FillTankContent_Label2 {
	@include elemAutoWidth(96);
}
#FillTankContent_Label2 {
		z-index: 3;
}
#FillTankContent_Label2 {
	@include text-alignment-all('left');
}
#FillTankContent_ToggleSwitch3 {
	@include elemTop(156);
}
#FillTankContent_ToggleSwitch3 {
	@include elemLeft(77);
}
#FillTankContent_ToggleSwitch3 {
	@include elemAutoWidth(130);
}
#FillTankContent_ToggleSwitch3 {
	@include elemAutoHeight(50);
}
#FillTankContent_ToggleSwitch3 {
		z-index: 4;
}
#FillTankContent_ToggleSwitch3 {
	@include border-radius(5px);
}
#FillTankContent_ToggleSwitch3 {
	.breaseToggleSwitch_toggle{
	@include border-radius(5px - 2px);
	}
}
#FillTankContent_ToggleSwitch3 {
	&.checked:not(.disabled){
	background-color: rgba(255, 215, 0, 1);
	}
}
#FillTankContent_ToggleSwitch3 {
	&.checked:not(.disabled) .breaseToggleSwitch_toggle{
		color: rgba(0, 0, 0, 1);
	}
}
#FillTankContent_ToggleSwitch3 {
	&.checked:not(.disabled) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#FillTankContent_ToggleSwitch3 {
	&.checked:not(.disabled) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#FillTankContent_ToggleSwitch3 {
	.wrapper .before{
		font-size: 15px;
	}
}
#FillTankContent_ToggleSwitch3 {
	.wrapper .after{
		font-size: 15px;
	}
}
#FillTankContent_GroupBox3 {
	@include elemTop(386);
}
#FillTankContent_GroupBox3 {
	@include elemLeft(17);
}
#FillTankContent_GroupBox3 {
	@include elemWidth(289);
}
#FillTankContent_GroupBox3 {
	@include elemHeight(248);
}
#FillTankContent_GroupBox3 {
		z-index: 1;
}
#FillTankContent_GroupBox3 {
		border-width: 3px;
}
#FillTankContent_GroupBox3 {
	> .header{
		border-width: 3px;
	}
}
#FillTankContent_GroupBox3 {
	@include border-radius(10px);
}
#FillTankContent_GroupBox3 {
		border-color: rgba(30, 176, 173, 1);
}
#FillTankContent_GroupBox3 {
	> .header{
		border-color: rgba(30, 176, 173, 1);
	}
}
#FillTankContent_GroupBox3 {
		border-style: outset;
}
#FillTankContent_GroupBox3 {
	> .header{
		border-bottom-style: outset;
	}
}
#FillTankContent_NumericOutput2 {
	@include elemAutoWidth(100);
}
#FillTankContent_NumericOutput2 {
	@include elemTop(15);
}
#FillTankContent_NumericOutput2 {
	@include elemLeft(8);
}
#FillTankContent_NumericOutput2 {
	@include elemAutoHeight(40);
}
#FillTankContent_NumericOutput2 {
		z-index: 0;
}
#FillTankContent_NumericOutput2 {
		border-width: 2px;
}
#FillTankContent_NumericOutput2 {
	@include border-radius(5px);
}
#FillTankContent_NumericOutput2 {
		background-color: rgba(245, 245, 245, 1);
}
#FillTankContent_NumericOutput2 {
		border-style: outset;
}
#FillTankContent_NumericOutput2 {
	input{
	@include text-alignment(center);
	}
}
#FillTankContent_Label3 {
	@include elemAutoHeight(30);
}
#FillTankContent_Label3 {
	@include elemTop(20);
}
#FillTankContent_Label3 {
	@include elemLeft(119);
}
#FillTankContent_Label3 {
	@include elemAutoWidth(86);
}
#FillTankContent_Label3 {
		z-index: 1;
}
#FillTankContent_NumericInput2 {
	@include elemAutoWidth(100);
}
#FillTankContent_NumericInput2 {
	@include elemTop(91);
}
#FillTankContent_NumericInput2 {
	@include elemLeft(8);
}
#FillTankContent_NumericInput2 {
	@include elemAutoHeight(40);
}
#FillTankContent_NumericInput2 {
		z-index: 2;
}
#FillTankContent_NumericInput2 {
	@include border-radius(5px);
}
#FillTankContent_NumericInput2 {
	input{
	@include text-alignment(center);
	}
}
#FillTankContent_Label4 {
	@include elemAutoHeight(30);
}
#FillTankContent_Label4 {
	@include elemTop(96);
}
#FillTankContent_Label4 {
	@include elemLeft(119);
}
#FillTankContent_Label4 {
	@include elemAutoWidth(96);
}
#FillTankContent_Label4 {
		z-index: 3;
}
#FillTankContent_ToggleSwitch4 {
	@include elemTop(152);
}
#FillTankContent_ToggleSwitch4 {
	@include elemLeft(80);
}
#FillTankContent_ToggleSwitch4 {
	@include elemAutoWidth(130);
}
#FillTankContent_ToggleSwitch4 {
	@include elemAutoHeight(50);
}
#FillTankContent_ToggleSwitch4 {
		z-index: 4;
}
#FillTankContent_ToggleSwitch4 {
	@include border-radius(5px);
}
#FillTankContent_ToggleSwitch4 {
	.breaseToggleSwitch_toggle{
	@include border-radius(5px - 2px);
	}
}
#FillTankContent_ToggleSwitch4 {
	&.checked:not(.disabled){
	background-color: rgba(255, 69, 0, 1);
	}
}
#FillTankContent_ToggleSwitch4 {
	&.checked:not(.disabled) .breaseToggleSwitch_toggle{
		color: rgba(0, 0, 0, 1);
	}
}
#FillTankContent_ToggleSwitch4 {
	&.checked:not(.disabled) .wrapper .before{
		color: rgba(0, 0, 0, 1);
	}
}
#FillTankContent_ToggleSwitch4 {
	&.checked:not(.disabled) .wrapper .after{
		color: rgba(0, 0, 0, 1);
	}
}
#FillTankContent_ToggleSwitch4 {
	.wrapper .before{
		font-size: 15px;
	}
}
#FillTankContent_ToggleSwitch4 {
	.wrapper .after{
		font-size: 15px;
	}
}
#FillTankContent_ImageList1 {
	@include elemTop(80);
}
#FillTankContent_ImageList1 {
	@include elemLeft(50);
}
#FillTankContent_ImageList1 {
	@include elemWidth(272);
}
#FillTankContent_ImageList1 {
	@include elemHeight(367);
}
#FillTankContent_ImageList1 {
		z-index: 1;
}
#FillTankContent_ImageList2 {
	@include elemTop(80);
}
#FillTankContent_ImageList2 {
	@include elemLeft(415);
}
#FillTankContent_ImageList2 {
	@include elemWidth(272);
}
#FillTankContent_ImageList2 {
	@include elemHeight(367);
}
#FillTankContent_ImageList2 {
		z-index: 2;
}
#FillTankContent_GroupBox4 {
	@include elemTop(8);
}
#FillTankContent_GroupBox4 {
	@include elemLeft(795);
}
#FillTankContent_GroupBox4 {
	@include elemWidth(325);
}
#FillTankContent_GroupBox4 {
	@include elemHeight(784);
}
#FillTankContent_GroupBox4 {
		z-index: 3;
}
#FillTankContent_GroupBox4 {
		border-width: 3px;
}
#FillTankContent_GroupBox4 {
	> .header{
		border-width: 3px;
	}
}
#FillTankContent_GroupBox4 {
	@include border-radius(10px);
}
#FillTankContent_GroupBox4 {
		background-color: rgba(245, 245, 245, 1);
}
#FillTankContent_GroupBox4 {
		border-color: rgba(30, 176, 173, 1);
}
#FillTankContent_GroupBox4 {
	> .header{
		border-color: rgba(30, 176, 173, 1);
	}
}
#FillTankContent_GroupBox4 {
		border-style: outset;
}
#FillTankContent_GroupBox4 {
	> .header{
		border-bottom-style: outset;
	}
}
#FillTankContent_GroupBox4 {
	> .header span{
		font-size: 30px;
	}
}
#FillTankContent_GroupBox4 {
	> .header{
	height: 30px + 20px;
	}
}
#FillTankContent_GroupBox5 {
	@include elemTop(44);
}
#FillTankContent_GroupBox5 {
	@include elemLeft(21);
}
#FillTankContent_GroupBox5 {
	@include elemWidth(290);
}
#FillTankContent_GroupBox5 {
	@include elemHeight(191);
}
#FillTankContent_GroupBox5 {
		z-index: 0;
}
#FillTankContent_GroupBox5 {
		border-width: 3px;
}
#FillTankContent_GroupBox5 {
	> .header{
		border-width: 3px;
	}
}
#FillTankContent_GroupBox5 {
	@include border-radius(10px);
}
#FillTankContent_GroupBox5 {
		border-color: rgba(30, 176, 173, 1);
}
#FillTankContent_GroupBox5 {
	> .header{
		border-color: rgba(30, 176, 173, 1);
	}
}
#FillTankContent_GroupBox5 {
		border-style: outset;
}
#FillTankContent_GroupBox5 {
	> .header{
		border-bottom-style: outset;
	}
}
#FillTankContent_ButtonBar1 {
	@include elemTop(4);
}
#FillTankContent_ButtonBar1 {
	@include elemLeft(8);
}
#FillTankContent_ButtonBar1 {
	@include elemWidth(270);
}
#FillTankContent_ButtonBar1 {
	@include elemHeight(144);
}
#FillTankContent_ButtonBar1 {
		z-index: 0;
}
#FillTankContent_ToggleButton1 {
	@include elemAutoWidth(100);
}
#FillTankContent_ToggleButton1 {
	@include elemTop(34);
}
#FillTankContent_ToggleButton1 {
	@include elemLeft(24);
}
#FillTankContent_ToggleButton1 {
	@include elemAutoHeight(76);
}
#FillTankContent_ToggleButton1 {
		z-index: 0;
}
#FillTankContent_ToggleButton1 {
	img{
	@include imageHeight(64);
	}
}
#FillTankContent_ToggleButton1 {
	svg{
	@include imageHeight(64);
	}
}
#FillTankContent_ToggleButton1 {
		border-style: none;
}
#FillTankContent_ToggleButton1 {
	&.active{
		border-style: none;
	}
}
#FillTankContent_ToggleButton1 {
	&.checked{
		border-style: none;
	}
}
#FillTankContent_ToggleButton1 {
	&.disabled{
		border-style: none;
	}
}
#FillTankContent_ToggleButton1 {
	&:not(.disabled):not(.active):not(.checked){
		background-color: rgba(255, 255, 255, 0);
	}
}
#FillTankContent_ToggleButton2 {
	@include elemAutoWidth(100);
}
#FillTankContent_ToggleButton2 {
	@include elemTop(34);
}
#FillTankContent_ToggleButton2 {
	@include elemLeft(143);
}
#FillTankContent_ToggleButton2 {
	@include elemAutoHeight(76);
}
#FillTankContent_ToggleButton2 {
		z-index: 1;
}
#FillTankContent_ToggleButton2 {
	img{
	@include imageHeight(64);
	}
}
#FillTankContent_ToggleButton2 {
	svg{
	@include imageHeight(64);
	}
}
#FillTankContent_ToggleButton2 {
		border-style: none;
}
#FillTankContent_ToggleButton2 {
	&.active{
		border-style: none;
	}
}
#FillTankContent_ToggleButton2 {
	&.checked{
		border-style: none;
	}
}
#FillTankContent_ToggleButton2 {
	&.disabled{
		border-style: none;
	}
}
#FillTankContent_ToggleButton2 {
	&:not(.disabled):not(.active):not(.checked){
		background-color: rgba(255, 255, 255, 0);
	}
}
#FillTankContent_GroupBox6 {
	@include elemTop(274);
}
#FillTankContent_GroupBox6 {
	@include elemLeft(21);
}
#FillTankContent_GroupBox6 {
	@include elemWidth(290);
}
#FillTankContent_GroupBox6 {
	@include elemHeight(191);
}
#FillTankContent_GroupBox6 {
		z-index: 1;
}
#FillTankContent_GroupBox6 {
		border-width: 3px;
}
#FillTankContent_GroupBox6 {
	> .header{
		border-width: 3px;
	}
}
#FillTankContent_GroupBox6 {
	@include border-radius(10px);
}
#FillTankContent_GroupBox6 {
		border-color: rgba(30, 176, 173, 1);
}
#FillTankContent_GroupBox6 {
	> .header{
		border-color: rgba(30, 176, 173, 1);
	}
}
#FillTankContent_GroupBox6 {
		border-style: outset;
}
#FillTankContent_GroupBox6 {
	> .header{
		border-bottom-style: outset;
	}
}
#FillTankContent_ButtonBar2 {
	@include elemTop(12);
}
#FillTankContent_ButtonBar2 {
	@include elemLeft(8);
}
#FillTankContent_ButtonBar2 {
	@include elemWidth(269);
}
#FillTankContent_ButtonBar2 {
	@include elemHeight(131);
}
#FillTankContent_ButtonBar2 {
		z-index: 0;
}
#FillTankContent_ToggleButton3 {
	@include elemAutoWidth(100);
}
#FillTankContent_ToggleButton3 {
	@include elemTop(28);
}
#FillTankContent_ToggleButton3 {
	@include elemLeft(24);
}
#FillTankContent_ToggleButton3 {
	@include elemAutoHeight(76);
}
#FillTankContent_ToggleButton3 {
		z-index: 0;
}
#FillTankContent_ToggleButton3 {
	img{
	@include imageHeight(64);
	}
}
#FillTankContent_ToggleButton3 {
	svg{
	@include imageHeight(64);
	}
}
#FillTankContent_ToggleButton3 {
		border-style: none;
}
#FillTankContent_ToggleButton3 {
	&.active{
		border-style: none;
	}
}
#FillTankContent_ToggleButton3 {
	&.checked{
		border-style: none;
	}
}
#FillTankContent_ToggleButton3 {
	&.disabled{
		border-style: none;
	}
}
#FillTankContent_ToggleButton3 {
	&:not(.disabled):not(.active):not(.checked){
		background-color: rgba(255, 255, 255, 0);
	}
}
#FillTankContent_ToggleButton4 {
	@include elemAutoWidth(100);
}
#FillTankContent_ToggleButton4 {
	@include elemTop(28);
}
#FillTankContent_ToggleButton4 {
	@include elemLeft(143);
}
#FillTankContent_ToggleButton4 {
	@include elemAutoHeight(76);
}
#FillTankContent_ToggleButton4 {
		z-index: 1;
}
#FillTankContent_ToggleButton4 {
	img{
	@include imageHeight(64);
	}
}
#FillTankContent_ToggleButton4 {
	svg{
	@include imageHeight(64);
	}
}
#FillTankContent_ToggleButton4 {
		border-style: none;
}
#FillTankContent_ToggleButton4 {
	&.active{
		border-style: none;
	}
}
#FillTankContent_ToggleButton4 {
	&.checked{
		border-style: none;
	}
}
#FillTankContent_ToggleButton4 {
	&.disabled{
		border-style: none;
	}
}
#FillTankContent_ToggleButton4 {
	&:not(.disabled):not(.active):not(.checked){
		background-color: rgba(255, 255, 255, 0);
	}
}
#FillTankContent_GroupBox7 {
	@include elemTop(499);
}
#FillTankContent_GroupBox7 {
	@include elemLeft(21);
}
#FillTankContent_GroupBox7 {
	@include elemWidth(290);
}
#FillTankContent_GroupBox7 {
	@include elemHeight(191);
}
#FillTankContent_GroupBox7 {
		z-index: 2;
}
#FillTankContent_GroupBox7 {
		border-width: 3px;
}
#FillTankContent_GroupBox7 {
	> .header{
		border-width: 3px;
	}
}
#FillTankContent_GroupBox7 {
	@include border-radius(10px);
}
#FillTankContent_GroupBox7 {
		border-color: rgba(30, 176, 173, 1);
}
#FillTankContent_GroupBox7 {
	> .header{
		border-color: rgba(30, 176, 173, 1);
	}
}
#FillTankContent_GroupBox7 {
		border-style: outset;
}
#FillTankContent_GroupBox7 {
	> .header{
		border-bottom-style: outset;
	}
}
#FillTankContent_ButtonBar3 {
	@include elemTop(12);
}
#FillTankContent_ButtonBar3 {
	@include elemLeft(8);
}
#FillTankContent_ButtonBar3 {
	@include elemWidth(269);
}
#FillTankContent_ButtonBar3 {
	@include elemHeight(131);
}
#FillTankContent_ButtonBar3 {
		z-index: 0;
}
#FillTankContent_ToggleButton5 {
	@include elemAutoWidth(100);
}
#FillTankContent_ToggleButton5 {
	@include elemTop(28);
}
#FillTankContent_ToggleButton5 {
	@include elemLeft(24);
}
#FillTankContent_ToggleButton5 {
	@include elemAutoHeight(76);
}
#FillTankContent_ToggleButton5 {
		z-index: 0;
}
#FillTankContent_ToggleButton5 {
	img{
	@include imageHeight(64);
	}
}
#FillTankContent_ToggleButton5 {
	svg{
	@include imageHeight(64);
	}
}
#FillTankContent_ToggleButton5 {
		border-style: none;
}
#FillTankContent_ToggleButton5 {
	&.active{
		border-style: none;
	}
}
#FillTankContent_ToggleButton5 {
	&.checked{
		border-style: none;
	}
}
#FillTankContent_ToggleButton5 {
	&.disabled{
		border-style: none;
	}
}
#FillTankContent_ToggleButton5 {
	&:not(.disabled):not(.active):not(.checked){
		background-color: rgba(255, 255, 255, 0);
	}
}
#FillTankContent_ToggleButton6 {
	@include elemAutoWidth(100);
}
#FillTankContent_ToggleButton6 {
	@include elemTop(28);
}
#FillTankContent_ToggleButton6 {
	@include elemLeft(143);
}
#FillTankContent_ToggleButton6 {
	@include elemAutoHeight(76);
}
#FillTankContent_ToggleButton6 {
		z-index: 1;
}
#FillTankContent_ToggleButton6 {
	img{
	@include imageHeight(64);
	}
}
#FillTankContent_ToggleButton6 {
	svg{
	@include imageHeight(64);
	}
}
#FillTankContent_ToggleButton6 {
		border-style: none;
}
#FillTankContent_ToggleButton6 {
	&.active{
		border-style: none;
	}
}
#FillTankContent_ToggleButton6 {
	&.checked{
		border-style: none;
	}
}
#FillTankContent_ToggleButton6 {
	&.disabled{
		border-style: none;
	}
}
#FillTankContent_ToggleButton6 {
	&:not(.disabled):not(.active):not(.checked){
		background-color: rgba(255, 255, 255, 0);
	}
}
