#MainPageContent_GroupBox1 {
  top: 61px;
  position: absolute;
}

#MainPageContent_GroupBox1 {
  left: 120px;
  position: absolute;
}

#MainPageContent_GroupBox1 {
  width: 325px;
}

#MainPageContent_GroupBox1 {
  height: 578px;
}

#MainPageContent_GroupBox1 {
  z-index: 1;
}

#MainPageContent_GroupBox1 {
  border-width: 3px;
}

#MainPageContent_GroupBox1 > .header {
  border-width: 3px;
}

#MainPageContent_GroupBox1 {
  border-radius: 10px;
}

#MainPageContent_GroupBox1 {
  background-color: whitesmoke;
}

#MainPageContent_GroupBox1 {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox1 > .header {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox1 {
  border-style: outset;
}

#MainPageContent_GroupBox1 > .header {
  border-bottom-style: outset;
}

#MainPageContent_GroupBox1 > .header span {
  font-size: 30px;
}

#MainPageContent_GroupBox1 > .header {
  height: 50px;
}

#MainPageContent_ToggleSwitch1 {
  top: 454px;
  position: absolute;
}

#MainPageContent_ToggleSwitch1 {
  left: 177px;
  position: absolute;
}

#MainPageContent_ToggleSwitch1 {
  width: 130px;
}

#MainPageContent_ToggleSwitch1 {
  height: 50px;
}

#MainPageContent_ToggleSwitch1 {
  z-index: 0;
}

#MainPageContent_ToggleSwitch1 {
  border-radius: 5px;
}

#MainPageContent_ToggleSwitch1 .breaseToggleSwitch_toggle {
  border-radius: 3px;
}

#MainPageContent_ToggleSwitch1.checked:not(.disabled) {
  background-color: lime;
}

#MainPageContent_ToggleSwitch1.checked:not(.disabled) .breaseToggleSwitch_toggle {
  color: black;
}

#MainPageContent_ToggleSwitch1.checked:not(.disabled) .wrapper .before {
  color: black;
}

#MainPageContent_ToggleSwitch1.checked:not(.disabled) .wrapper .after {
  color: black;
}

#MainPageContent_ToggleSwitch1 .wrapper .before {
  font-size: 15px;
}

#MainPageContent_ToggleSwitch1 .wrapper .after {
  font-size: 15px;
}

#MainPageContent_GroupBox2 {
  top: 13px;
  position: absolute;
}

#MainPageContent_GroupBox2 {
  left: 15px;
  position: absolute;
}

#MainPageContent_GroupBox2 {
  width: 289px;
}

#MainPageContent_GroupBox2 {
  height: 149px;
}

#MainPageContent_GroupBox2 {
  z-index: 1;
}

#MainPageContent_GroupBox2 {
  border-width: 3px;
}

#MainPageContent_GroupBox2 > .header {
  border-width: 3px;
}

#MainPageContent_GroupBox2 {
  border-radius: 10px;
}

#MainPageContent_GroupBox2 {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox2 > .header {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox2 {
  border-style: outset;
}

#MainPageContent_GroupBox2 > .header {
  border-bottom-style: outset;
}

#MainPageContent_NumericOutput1 {
  top: 15px;
  position: absolute;
}

#MainPageContent_NumericOutput1 {
  left: 8px;
  position: absolute;
}

#MainPageContent_NumericOutput1 {
  width: 125px;
}

#MainPageContent_NumericOutput1 {
  height: 40px;
}

#MainPageContent_NumericOutput1 {
  z-index: 0;
}

#MainPageContent_NumericOutput1 {
  border-width: 2px;
}

#MainPageContent_NumericOutput1 {
  border-radius: 5px;
}

#MainPageContent_NumericOutput1 {
  background-color: whitesmoke;
}

#MainPageContent_NumericOutput1 {
  border-style: outset;
}

#MainPageContent_NumericOutput1 input {
  justify-content: flex-start;
  text-align: left;
}

#MainPageContent_Label1 {
  height: 30px;
}

#MainPageContent_Label1 {
  top: 16px;
  position: absolute;
}

#MainPageContent_Label1 {
  left: 139px;
  position: absolute;
}

#MainPageContent_Label1 {
  width: 86px;
}

#MainPageContent_Label1 {
  z-index: 1;
}

#MainPageContent_NumericInput1 {
  top: 60px;
  position: absolute;
}

#MainPageContent_NumericInput1 {
  left: 8px;
  position: absolute;
}

#MainPageContent_NumericInput1 {
  width: 125px;
}

#MainPageContent_NumericInput1 {
  height: 40px;
}

#MainPageContent_NumericInput1 {
  z-index: 2;
}

#MainPageContent_NumericInput1 {
  border-radius: 5px;
}

#MainPageContent_NumericInput1 input {
  justify-content: flex-start;
  text-align: left;
}

#MainPageContent_Label2 {
  height: 30px;
}

#MainPageContent_Label2 {
  top: 65px;
  position: absolute;
}

#MainPageContent_Label2 {
  left: 139px;
  position: absolute;
}

#MainPageContent_Label2 {
  width: 96px;
}

#MainPageContent_Label2 {
  z-index: 3;
}

#MainPageContent_Label2 {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#MainPageContent_GroupBox3 {
  top: 184px;
  position: absolute;
}

#MainPageContent_GroupBox3 {
  left: 15px;
  position: absolute;
}

#MainPageContent_GroupBox3 {
  width: 289px;
}

#MainPageContent_GroupBox3 {
  height: 163px;
}

#MainPageContent_GroupBox3 {
  z-index: 2;
}

#MainPageContent_GroupBox3 {
  border-width: 3px;
}

#MainPageContent_GroupBox3 > .header {
  border-width: 3px;
}

#MainPageContent_GroupBox3 {
  border-radius: 10px;
}

#MainPageContent_GroupBox3 {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox3 > .header {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox3 {
  border-style: outset;
}

#MainPageContent_GroupBox3 > .header {
  border-bottom-style: outset;
}

#MainPageContent_NumericOutput2 {
  width: 100px;
}

#MainPageContent_NumericOutput2 {
  top: 15px;
  position: absolute;
}

#MainPageContent_NumericOutput2 {
  left: 8px;
  position: absolute;
}

#MainPageContent_NumericOutput2 {
  height: 40px;
}

#MainPageContent_NumericOutput2 {
  z-index: 0;
}

#MainPageContent_NumericOutput2 {
  border-width: 2px;
}

#MainPageContent_NumericOutput2 {
  border-radius: 5px;
}

#MainPageContent_NumericOutput2 {
  background-color: whitesmoke;
}

#MainPageContent_NumericOutput2 {
  border-style: outset;
}

#MainPageContent_NumericOutput2 input {
  justify-content: center;
  text-align: center;
}

#MainPageContent_Label3 {
  height: 30px;
}

#MainPageContent_Label3 {
  top: 20px;
  position: absolute;
}

#MainPageContent_Label3 {
  left: 119px;
  position: absolute;
}

#MainPageContent_Label3 {
  width: 86px;
}

#MainPageContent_Label3 {
  z-index: 1;
}

#MainPageContent_NumericInput2 {
  width: 100px;
}

#MainPageContent_NumericInput2 {
  top: 65px;
  position: absolute;
}

#MainPageContent_NumericInput2 {
  left: 8px;
  position: absolute;
}

#MainPageContent_NumericInput2 {
  height: 40px;
}

#MainPageContent_NumericInput2 {
  z-index: 2;
}

#MainPageContent_NumericInput2 {
  border-radius: 5px;
}

#MainPageContent_NumericInput2 input {
  justify-content: center;
  text-align: center;
}

#MainPageContent_Label4 {
  height: 30px;
}

#MainPageContent_Label4 {
  top: 70px;
  position: absolute;
}

#MainPageContent_Label4 {
  left: 119px;
  position: absolute;
}

#MainPageContent_Label4 {
  width: 96px;
}

#MainPageContent_Label4 {
  z-index: 3;
}

#MainPageContent_ToggleSwitch3 {
  top: 374px;
  position: absolute;
}

#MainPageContent_ToggleSwitch3 {
  left: 4px;
  position: absolute;
}

#MainPageContent_ToggleSwitch3 {
  width: 130px;
}

#MainPageContent_ToggleSwitch3 {
  height: 50px;
}

#MainPageContent_ToggleSwitch3 {
  z-index: 3;
}

#MainPageContent_ToggleSwitch3 {
  border-radius: 5px;
}

#MainPageContent_ToggleSwitch3 .breaseToggleSwitch_toggle {
  border-radius: 3px;
}

#MainPageContent_ToggleSwitch3.checked:not(.disabled) {
  background-color: gold;
}

#MainPageContent_ToggleSwitch3.checked:not(.disabled) .breaseToggleSwitch_toggle {
  color: black;
}

#MainPageContent_ToggleSwitch3.checked:not(.disabled) .wrapper .before {
  color: black;
}

#MainPageContent_ToggleSwitch3.checked:not(.disabled) .wrapper .after {
  color: black;
}

#MainPageContent_ToggleSwitch3 .wrapper .before {
  font-size: 15px;
}

#MainPageContent_ToggleSwitch3 .wrapper .after {
  font-size: 15px;
}

#MainPageContent_ToggleSwitch4 {
  top: 374px;
  position: absolute;
}

#MainPageContent_ToggleSwitch4 {
  left: 177px;
  position: absolute;
}

#MainPageContent_ToggleSwitch4 {
  width: 130px;
}

#MainPageContent_ToggleSwitch4 {
  height: 50px;
}

#MainPageContent_ToggleSwitch4 {
  z-index: 4;
}

#MainPageContent_ToggleSwitch4 {
  border-radius: 5px;
}

#MainPageContent_ToggleSwitch4 .breaseToggleSwitch_toggle {
  border-radius: 3px;
}

#MainPageContent_ToggleSwitch4.checked:not(.disabled) {
  background-color: orangered;
}

#MainPageContent_ToggleSwitch4.checked:not(.disabled) .breaseToggleSwitch_toggle {
  color: black;
}

#MainPageContent_ToggleSwitch4.checked:not(.disabled) .wrapper .before {
  color: black;
}

#MainPageContent_ToggleSwitch4.checked:not(.disabled) .wrapper .after {
  color: black;
}

#MainPageContent_ToggleSwitch4 .wrapper .before {
  font-size: 15px;
}

#MainPageContent_ToggleSwitch4 .wrapper .after {
  font-size: 15px;
}

#MainPageContent_GroupBox4 {
  top: 61px;
  position: absolute;
}

#MainPageContent_GroupBox4 {
  left: 570px;
  position: absolute;
}

#MainPageContent_GroupBox4 {
  width: 325px;
}

#MainPageContent_GroupBox4 {
  height: 578px;
}

#MainPageContent_GroupBox4 {
  z-index: 2;
}

#MainPageContent_GroupBox4 {
  border-width: 3px;
}

#MainPageContent_GroupBox4 > .header {
  border-width: 3px;
}

#MainPageContent_GroupBox4 {
  border-radius: 10px;
}

#MainPageContent_GroupBox4 {
  background-color: whitesmoke;
}

#MainPageContent_GroupBox4 {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox4 > .header {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox4 {
  border-style: outset;
}

#MainPageContent_GroupBox4 > .header {
  border-bottom-style: outset;
}

#MainPageContent_GroupBox4 > .header span {
  font-size: 30px;
}

#MainPageContent_GroupBox4 > .header {
  height: 50px;
}

#MainPageContent_ToggleSwitch5 {
  top: 454px;
  position: absolute;
}

#MainPageContent_ToggleSwitch5 {
  left: 173px;
  position: absolute;
}

#MainPageContent_ToggleSwitch5 {
  width: 130px;
}

#MainPageContent_ToggleSwitch5 {
  height: 50px;
}

#MainPageContent_ToggleSwitch5 {
  z-index: 0;
}

#MainPageContent_ToggleSwitch5 {
  border-radius: 5px;
}

#MainPageContent_ToggleSwitch5 .breaseToggleSwitch_toggle {
  border-radius: 3px;
}

#MainPageContent_ToggleSwitch5.checked:not(.disabled) {
  background-color: lime;
}

#MainPageContent_ToggleSwitch5.checked:not(.disabled) .breaseToggleSwitch_toggle {
  color: black;
}

#MainPageContent_ToggleSwitch5.checked:not(.disabled) .wrapper .before {
  color: black;
}

#MainPageContent_ToggleSwitch5.checked:not(.disabled) .wrapper .after {
  color: black;
}

#MainPageContent_ToggleSwitch5 .wrapper .before {
  font-size: 15px;
}

#MainPageContent_ToggleSwitch5 .wrapper .after {
  font-size: 15px;
}

#MainPageContent_GroupBox5 {
  top: 13px;
  position: absolute;
}

#MainPageContent_GroupBox5 {
  left: 15px;
  position: absolute;
}

#MainPageContent_GroupBox5 {
  width: 289px;
}

#MainPageContent_GroupBox5 {
  height: 149px;
}

#MainPageContent_GroupBox5 {
  z-index: 1;
}

#MainPageContent_GroupBox5 {
  border-width: 3px;
}

#MainPageContent_GroupBox5 > .header {
  border-width: 3px;
}

#MainPageContent_GroupBox5 {
  border-radius: 10px;
}

#MainPageContent_GroupBox5 {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox5 > .header {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox5 {
  border-style: outset;
}

#MainPageContent_GroupBox5 > .header {
  border-bottom-style: outset;
}

#MainPageContent_NumericOutput3 {
  top: 15px;
  position: absolute;
}

#MainPageContent_NumericOutput3 {
  left: 6px;
  position: absolute;
}

#MainPageContent_NumericOutput3 {
  width: 125px;
}

#MainPageContent_NumericOutput3 {
  height: 40px;
}

#MainPageContent_NumericOutput3 {
  z-index: 0;
}

#MainPageContent_NumericOutput3 {
  border-width: 2px;
}

#MainPageContent_NumericOutput3 {
  border-radius: 5px;
}

#MainPageContent_NumericOutput3 {
  background-color: whitesmoke;
}

#MainPageContent_NumericOutput3 {
  border-style: outset;
}

#MainPageContent_NumericOutput3 input {
  justify-content: flex-start;
  text-align: left;
}

#MainPageContent_NumericInput3 {
  top: 60px;
  position: absolute;
}

#MainPageContent_NumericInput3 {
  left: 6px;
  position: absolute;
}

#MainPageContent_NumericInput3 {
  width: 125px;
}

#MainPageContent_NumericInput3 {
  height: 40px;
}

#MainPageContent_NumericInput3 {
  z-index: 1;
}

#MainPageContent_NumericInput3 {
  border-radius: 5px;
}

#MainPageContent_NumericInput3 input {
  justify-content: flex-start;
  text-align: left;
}

#MainPageContent_Label5 {
  height: 30px;
}

#MainPageContent_Label5 {
  top: 20px;
  position: absolute;
}

#MainPageContent_Label5 {
  left: 147px;
  position: absolute;
}

#MainPageContent_Label5 {
  width: 86px;
}

#MainPageContent_Label5 {
  z-index: 2;
}

#MainPageContent_Label6 {
  height: 30px;
}

#MainPageContent_Label6 {
  top: 65px;
  position: absolute;
}

#MainPageContent_Label6 {
  left: 147px;
  position: absolute;
}

#MainPageContent_Label6 {
  width: 96px;
}

#MainPageContent_Label6 {
  z-index: 3;
}

#MainPageContent_Label6 {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#MainPageContent_ToggleSwitch8 {
  top: 374px;
  position: absolute;
}

#MainPageContent_ToggleSwitch8 {
  left: 12px;
  position: absolute;
}

#MainPageContent_ToggleSwitch8 {
  width: 130px;
}

#MainPageContent_ToggleSwitch8 {
  height: 50px;
}

#MainPageContent_ToggleSwitch8 {
  z-index: 2;
}

#MainPageContent_ToggleSwitch8 {
  border-radius: 5px;
}

#MainPageContent_ToggleSwitch8 .breaseToggleSwitch_toggle {
  border-radius: 3px;
}

#MainPageContent_ToggleSwitch8.checked:not(.disabled) {
  background-color: orangered;
}

#MainPageContent_ToggleSwitch8.checked:not(.disabled) .breaseToggleSwitch_toggle {
  color: black;
}

#MainPageContent_ToggleSwitch8.checked:not(.disabled) .wrapper .before {
  color: black;
}

#MainPageContent_ToggleSwitch8.checked:not(.disabled) .wrapper .after {
  color: black;
}

#MainPageContent_ToggleSwitch8 .wrapper .before {
  font-size: 15px;
}

#MainPageContent_ToggleSwitch8 .wrapper .after {
  font-size: 15px;
}

#MainPageContent_GroupBox6 {
  top: 184px;
  position: absolute;
}

#MainPageContent_GroupBox6 {
  left: 15px;
  position: absolute;
}

#MainPageContent_GroupBox6 {
  width: 289px;
}

#MainPageContent_GroupBox6 {
  height: 163px;
}

#MainPageContent_GroupBox6 {
  z-index: 3;
}

#MainPageContent_GroupBox6 {
  border-width: 3px;
}

#MainPageContent_GroupBox6 > .header {
  border-width: 3px;
}

#MainPageContent_GroupBox6 {
  border-radius: 10px;
}

#MainPageContent_GroupBox6 {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox6 > .header {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox6 {
  border-style: outset;
}

#MainPageContent_GroupBox6 > .header {
  border-bottom-style: outset;
}

#MainPageContent_Label7 {
  height: 30px;
}

#MainPageContent_Label7 {
  top: 20px;
  position: absolute;
}

#MainPageContent_Label7 {
  left: 135px;
  position: absolute;
}

#MainPageContent_Label7 {
  width: 124px;
}

#MainPageContent_Label7 {
  z-index: 0;
}

#MainPageContent_Label7 {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#MainPageContent_Label7 span {
  padding: 0px;
}

#MainPageContent_NumericInput4 {
  width: 100px;
}

#MainPageContent_NumericInput4 {
  top: 65px;
  position: absolute;
}

#MainPageContent_NumericInput4 {
  left: 6px;
  position: absolute;
}

#MainPageContent_NumericInput4 {
  height: 40px;
}

#MainPageContent_NumericInput4 {
  z-index: 1;
}

#MainPageContent_NumericInput4 {
  border-radius: 5px;
}

#MainPageContent_NumericInput4 input {
  justify-content: center;
  text-align: center;
}

#MainPageContent_Label8 {
  height: 30px;
}

#MainPageContent_Label8 {
  top: 70px;
  position: absolute;
}

#MainPageContent_Label8 {
  left: 135px;
  position: absolute;
}

#MainPageContent_Label8 {
  width: 133px;
}

#MainPageContent_Label8 {
  z-index: 2;
}

#MainPageContent_Label8 {
  border-color: #1eb0ad;
}

#MainPageContent_Label8:before {
  border-color: #1eb0ad;
}

#MainPageContent_Label8:after {
  border-color: #1eb0ad;
}

#MainPageContent_Label8 {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#MainPageContent_Label8 span {
  padding: 0px;
}

#MainPageContent_TextOutput1 {
  width: 100px;
}

#MainPageContent_TextOutput1 {
  top: 15px;
  position: absolute;
}

#MainPageContent_TextOutput1 {
  left: 6px;
  position: absolute;
}

#MainPageContent_TextOutput1 {
  height: 40px;
}

#MainPageContent_TextOutput1 {
  z-index: 3;
}

#MainPageContent_TextOutput1 {
  border-width: 2px;
}

#MainPageContent_TextOutput1 {
  border-radius: 5px;
}

#MainPageContent_TextOutput1 {
  border-color: #555555;
}

#MainPageContent_TextOutput1:before {
  border-color: #555555;
}

#MainPageContent_TextOutput1:after {
  border-color: #555555;
}

#MainPageContent_TextOutput1 {
  border-style: solid;
}

#MainPageContent_TextOutput1:before {
  border-style: solid;
}

#MainPageContent_TextOutput1:after {
  border-style: solid;
}

#MainPageContent_TextOutput1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#MainPageContent_TextOutput1 {
  font-size: 20px;
}

#MainPageContent_ToggleSwitch9 {
  top: 374px;
  position: absolute;
}

#MainPageContent_ToggleSwitch9 {
  left: 173px;
  position: absolute;
}

#MainPageContent_ToggleSwitch9 {
  width: 130px;
}

#MainPageContent_ToggleSwitch9 {
  height: 50px;
}

#MainPageContent_ToggleSwitch9 {
  z-index: 4;
}

#MainPageContent_ToggleSwitch9 {
  border-radius: 5px;
}

#MainPageContent_ToggleSwitch9 .breaseToggleSwitch_toggle {
  border-radius: 3px;
}

#MainPageContent_ToggleSwitch9.checked:not(.disabled) {
  background-color: orangered;
}

#MainPageContent_ToggleSwitch9.checked:not(.disabled) .breaseToggleSwitch_toggle {
  color: black;
}

#MainPageContent_ToggleSwitch9.checked:not(.disabled) .wrapper .before {
  color: black;
}

#MainPageContent_ToggleSwitch9.checked:not(.disabled) .wrapper .after {
  color: black;
}

#MainPageContent_ToggleSwitch9 .wrapper .before {
  font-size: 15px;
}

#MainPageContent_ToggleSwitch9 .wrapper .after {
  font-size: 15px;
}

#MainPageContent_GroupBox7 {
  top: 61px;
  position: absolute;
}

#MainPageContent_GroupBox7 {
  left: 1020px;
  position: absolute;
}

#MainPageContent_GroupBox7 {
  width: 325px;
}

#MainPageContent_GroupBox7 {
  height: 578px;
}

#MainPageContent_GroupBox7 {
  z-index: 3;
}

#MainPageContent_GroupBox7 {
  border-width: 3px;
}

#MainPageContent_GroupBox7 > .header {
  border-width: 3px;
}

#MainPageContent_GroupBox7 {
  border-radius: 10px;
}

#MainPageContent_GroupBox7 {
  background-color: whitesmoke;
}

#MainPageContent_GroupBox7 {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox7 > .header {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox7 {
  border-style: outset;
}

#MainPageContent_GroupBox7 > .header {
  border-bottom-style: outset;
}

#MainPageContent_GroupBox7 > .header span {
  font-size: 30px;
}

#MainPageContent_GroupBox7 > .header {
  height: 50px;
}

#MainPageContent_GroupBox9 {
  top: 13px;
  position: absolute;
}

#MainPageContent_GroupBox9 {
  left: 15px;
  position: absolute;
}

#MainPageContent_GroupBox9 {
  width: 289px;
}

#MainPageContent_GroupBox9 {
  height: 148px;
}

#MainPageContent_GroupBox9 {
  z-index: 0;
}

#MainPageContent_GroupBox9 {
  border-width: 3px;
}

#MainPageContent_GroupBox9 > .header {
  border-width: 3px;
}

#MainPageContent_GroupBox9 {
  border-radius: 10px;
}

#MainPageContent_GroupBox9 {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox9 > .header {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox9 {
  border-style: outset;
}

#MainPageContent_GroupBox9 > .header {
  border-bottom-style: outset;
}

#MainPageContent_NumericOutput6 {
  width: 100px;
}

#MainPageContent_NumericOutput6 {
  top: 15px;
  position: absolute;
}

#MainPageContent_NumericOutput6 {
  left: 7px;
  position: absolute;
}

#MainPageContent_NumericOutput6 {
  height: 40px;
}

#MainPageContent_NumericOutput6 {
  z-index: 0;
}

#MainPageContent_NumericOutput6 {
  border-width: 2px;
}

#MainPageContent_NumericOutput6 {
  border-radius: 5px;
}

#MainPageContent_NumericOutput6 {
  background-color: whitesmoke;
}

#MainPageContent_NumericOutput6 {
  border-style: outset;
}

#MainPageContent_NumericOutput6 input {
  justify-content: center;
  text-align: center;
}

#MainPageContent_Label11 {
  height: 30px;
}

#MainPageContent_Label11 {
  top: 20px;
  position: absolute;
}

#MainPageContent_Label11 {
  left: 113px;
  position: absolute;
}

#MainPageContent_Label11 {
  width: 147px;
}

#MainPageContent_Label11 {
  z-index: 1;
}

#MainPageContent_Label11 span {
  padding: 0px;
}

#MainPageContent_NumericInput6 {
  width: 100px;
}

#MainPageContent_NumericInput6 {
  top: 60px;
  position: absolute;
}

#MainPageContent_NumericInput6 {
  left: 7px;
  position: absolute;
}

#MainPageContent_NumericInput6 {
  height: 40px;
}

#MainPageContent_NumericInput6 {
  z-index: 2;
}

#MainPageContent_NumericInput6 {
  border-radius: 5px;
}

#MainPageContent_NumericInput6 input {
  justify-content: center;
  text-align: center;
}

#MainPageContent_Label12 {
  height: 30px;
}

#MainPageContent_Label12 {
  top: 65px;
  position: absolute;
}

#MainPageContent_Label12 {
  left: 113px;
  position: absolute;
}

#MainPageContent_Label12 {
  width: 107px;
}

#MainPageContent_Label12 {
  z-index: 3;
}

#MainPageContent_Label12 span {
  padding: 0px;
}

#MainPageContent_ToggleSwitch12 {
  top: 374px;
  position: absolute;
}

#MainPageContent_ToggleSwitch12 {
  left: 17px;
  position: absolute;
}

#MainPageContent_ToggleSwitch12 {
  width: 130px;
}

#MainPageContent_ToggleSwitch12 {
  height: 50px;
}

#MainPageContent_ToggleSwitch12 {
  z-index: 1;
}

#MainPageContent_ToggleSwitch12 {
  border-radius: 5px;
}

#MainPageContent_ToggleSwitch12 .breaseToggleSwitch_toggle {
  border-radius: 3px;
}

#MainPageContent_ToggleSwitch12.checked:not(.disabled) {
  background-color: orangered;
}

#MainPageContent_ToggleSwitch12.checked:not(.disabled) .breaseToggleSwitch_toggle {
  color: black;
}

#MainPageContent_ToggleSwitch12.checked:not(.disabled) .wrapper .before {
  color: black;
}

#MainPageContent_ToggleSwitch12.checked:not(.disabled) .wrapper .after {
  color: black;
}

#MainPageContent_ToggleSwitch12 .wrapper .before {
  font-size: 15px;
}

#MainPageContent_ToggleSwitch12 .wrapper .after {
  font-size: 15px;
}

#MainPageContent_ToggleSwitch14 {
  top: 374px;
  position: absolute;
}

#MainPageContent_ToggleSwitch14 {
  left: 177px;
  position: absolute;
}

#MainPageContent_ToggleSwitch14 {
  width: 130px;
}

#MainPageContent_ToggleSwitch14 {
  height: 50px;
}

#MainPageContent_ToggleSwitch14 {
  z-index: 2;
}

#MainPageContent_ToggleSwitch14 {
  border-radius: 5px;
}

#MainPageContent_ToggleSwitch14 .breaseToggleSwitch_toggle {
  border-radius: 3px;
}

#MainPageContent_ToggleSwitch14.checked:not(.disabled) {
  background-color: lime;
}

#MainPageContent_ToggleSwitch14.checked:not(.disabled) .breaseToggleSwitch_toggle {
  color: black;
}

#MainPageContent_ToggleSwitch14.checked:not(.disabled) .wrapper .before {
  color: black;
}

#MainPageContent_ToggleSwitch14.checked:not(.disabled) .wrapper .after {
  color: black;
}

#MainPageContent_ToggleSwitch14 .wrapper .before {
  font-size: 15px;
}

#MainPageContent_ToggleSwitch14 .wrapper .after {
  font-size: 15px;
}

#MainPageContent_GroupBox12 {
  top: 184px;
  position: absolute;
}

#MainPageContent_GroupBox12 {
  left: 15px;
  position: absolute;
}

#MainPageContent_GroupBox12 {
  width: 289px;
}

#MainPageContent_GroupBox12 {
  height: 163px;
}

#MainPageContent_GroupBox12 {
  z-index: 3;
}

#MainPageContent_GroupBox12 {
  border-width: 3px;
}

#MainPageContent_GroupBox12 > .header {
  border-width: 3px;
}

#MainPageContent_GroupBox12 {
  border-radius: 10px;
}

#MainPageContent_GroupBox12 {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox12 > .header {
  border-color: #1eb0ad;
}

#MainPageContent_GroupBox12 {
  border-style: outset;
}

#MainPageContent_GroupBox12 > .header {
  border-bottom-style: outset;
}

#MainPageContent_Label15 {
  height: 30px;
}

#MainPageContent_Label15 {
  top: 20px;
  position: absolute;
}

#MainPageContent_Label15 {
  left: 135px;
  position: absolute;
}

#MainPageContent_Label15 {
  width: 124px;
}

#MainPageContent_Label15 {
  z-index: 0;
}

#MainPageContent_Label15 {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#MainPageContent_Label15 span {
  padding: 0px;
}

#MainPageContent_NumericInput8 {
  width: 100px;
}

#MainPageContent_NumericInput8 {
  top: 65px;
  position: absolute;
}

#MainPageContent_NumericInput8 {
  left: 6px;
  position: absolute;
}

#MainPageContent_NumericInput8 {
  height: 40px;
}

#MainPageContent_NumericInput8 {
  z-index: 1;
}

#MainPageContent_NumericInput8 {
  border-radius: 5px;
}

#MainPageContent_NumericInput8 input {
  justify-content: center;
  text-align: center;
}

#MainPageContent_Label16 {
  height: 30px;
}

#MainPageContent_Label16 {
  top: 70px;
  position: absolute;
}

#MainPageContent_Label16 {
  left: 135px;
  position: absolute;
}

#MainPageContent_Label16 {
  width: 133px;
}

#MainPageContent_Label16 {
  z-index: 2;
}

#MainPageContent_Label16 {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#MainPageContent_Label16 span {
  padding: 0px;
}

#MainPageContent_TextOutput2 {
  width: 100px;
}

#MainPageContent_TextOutput2 {
  top: 15px;
  position: absolute;
}

#MainPageContent_TextOutput2 {
  left: 6px;
  position: absolute;
}

#MainPageContent_TextOutput2 {
  height: 40px;
}

#MainPageContent_TextOutput2 {
  z-index: 3;
}

#MainPageContent_TextOutput2 {
  border-width: 2px;
}

#MainPageContent_TextOutput2 {
  border-radius: 5px;
}

#MainPageContent_TextOutput2 {
  border-color: #555555;
}

#MainPageContent_TextOutput2:before {
  border-color: #555555;
}

#MainPageContent_TextOutput2:after {
  border-color: #555555;
}

#MainPageContent_TextOutput2 {
  border-style: solid;
}

#MainPageContent_TextOutput2:before {
  border-style: solid;
}

#MainPageContent_TextOutput2:after {
  border-style: solid;
}

#MainPageContent_TextOutput2 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#MainPageContent_TextOutput2 {
  font-size: 20px;
}

#MainPageContent_GroupBox8 {
  top: 0px;
  position: absolute;
}

#MainPageContent_GroupBox8 {
  left: 2px;
  position: absolute;
}

#MainPageContent_GroupBox8 {
  width: 1478px;
}

#MainPageContent_GroupBox8 {
  height: 699px;
}

#MainPageContent_GroupBox8 {
  z-index: 0;
}

#MainPageContent_GroupBox8 {
  border-radius: 10px;
}

#MainPageContent_GroupBox8 {
  background-color: whitesmoke;
}

#MainPageContent_GroupBox8 {
  border-color: black;
}

#MainPageContent_GroupBox8 > .header {
  border-color: black;
}
