#NavContent_NavigationButton2 {
  width: 100px;
}

#NavContent_NavigationButton2 {
  top: 398px;
  position: absolute;
}

#NavContent_NavigationButton2 {
  left: 9px;
  position: absolute;
}

#NavContent_NavigationButton2 {
  height: 100px;
}

#NavContent_NavigationButton2 {
  z-index: 1;
}

#NavContent_NavigationButton2 img {
  height: 64px;
}

#NavContent_NavigationButton2 svg {
  height: 64px;
}

#NavContent_NavigationButton2 {
  border-style: solid;
}

#NavContent_NavigationButton2.active {
  border-style: solid;
}

#NavContent_NavigationButton2.checked {
  border-style: solid;
}

#NavContent_NavigationButton2.disabled {
  border-style: solid;
}

#NavContent_NavigationButton2:not(.active):not(.checked) {
  border-width: 1px;
}

#NavContent_NavigationButton2.disabled {
  border-width: 1px;
}

#NavContent_NavigationButton2 {
  border-radius: 5px;
}

#NavContent_NavigationButton2:not(.disabled):not(.active):not(.checked) {
  background-color: rgba(255, 255, 255, 0);
}

#NavContent_NavigationButton2:not(.disabled):not(.checked) {
  border-color: black;
}

#NavContent_NavigationButton2.active:not(.disabled):not(.editMode) {
  background-color: silver;
}

#NavContent_NavigationButton2.checked:not(.active):not(.disabled) {
  background-color: silver;
}

#NavContent_NavigationButton2.checked:not(.active):not(.disabled) {
  border-color: silver;
}

#NavContent_GroupBox1 {
  top: 2px;
  position: absolute;
}

#NavContent_GroupBox1 {
  left: 1px;
  position: absolute;
}

#NavContent_GroupBox1 {
  width: 116px;
}

#NavContent_GroupBox1 {
  height: 696px;
}

#NavContent_GroupBox1 {
  z-index: 0;
}

#NavContent_GroupBox1 {
  border-radius: 10px;
}

#NavContent_GroupBox1 {
  background-color: whitesmoke;
}

#NavContent_GroupBox1 {
  border-color: black;
}

#NavContent_GroupBox1 > .header {
  border-color: black;
}

#NavContent_NavigationButton1 {
  width: 100px;
}

#NavContent_NavigationButton1 {
  top: 201px;
  position: absolute;
}

#NavContent_NavigationButton1 {
  left: 7px;
  position: absolute;
}

#NavContent_NavigationButton1 {
  height: 100px;
}

#NavContent_NavigationButton1 {
  z-index: 0;
}

#NavContent_NavigationButton1 img {
  height: 64px;
}

#NavContent_NavigationButton1 svg {
  height: 64px;
}

#NavContent_NavigationButton1 {
  border-style: solid;
}

#NavContent_NavigationButton1.active {
  border-style: solid;
}

#NavContent_NavigationButton1.checked {
  border-style: solid;
}

#NavContent_NavigationButton1.disabled {
  border-style: solid;
}

#NavContent_NavigationButton1:not(.active):not(.checked) {
  border-width: 1px;
}

#NavContent_NavigationButton1.disabled {
  border-width: 1px;
}

#NavContent_NavigationButton1 {
  border-radius: 5px;
}

#NavContent_NavigationButton1:not(.disabled):not(.active):not(.checked) {
  background-color: rgba(255, 255, 255, 0);
}

#NavContent_NavigationButton1:not(.disabled):not(.checked) {
  border-color: black;
}

#NavContent_NavigationButton1.active:not(.disabled):not(.editMode) {
  background-color: silver;
}

#NavContent_NavigationButton1.checked:not(.active):not(.disabled) {
  background-color: silver;
}

#NavContent_NavigationButton1.checked:not(.active):not(.disabled) {
  border-color: silver;
}

#NavContent_NavigationButton5 {
  width: 100px;
}

#NavContent_NavigationButton5 {
  top: 7px;
  position: absolute;
}

#NavContent_NavigationButton5 {
  left: 7px;
  position: absolute;
}

#NavContent_NavigationButton5 {
  height: 100px;
}

#NavContent_NavigationButton5 {
  z-index: 1;
}

#NavContent_NavigationButton5 img {
  height: 64px;
}

#NavContent_NavigationButton5 svg {
  height: 64px;
}

#NavContent_NavigationButton5 {
  border-style: solid;
}

#NavContent_NavigationButton5.active {
  border-style: solid;
}

#NavContent_NavigationButton5.checked {
  border-style: solid;
}

#NavContent_NavigationButton5.disabled {
  border-style: solid;
}

#NavContent_NavigationButton5:not(.active):not(.checked) {
  border-width: 1px;
}

#NavContent_NavigationButton5.disabled {
  border-width: 1px;
}

#NavContent_NavigationButton5 {
  border-radius: 5px;
}

#NavContent_NavigationButton5:not(.disabled):not(.active):not(.checked) {
  background-color: rgba(255, 255, 255, 0);
}

#NavContent_NavigationButton5:not(.disabled):not(.checked) {
  border-color: black;
}

#NavContent_NavigationButton5.active:not(.disabled):not(.editMode) {
  background-color: silver;
}

#NavContent_NavigationButton5.checked:not(.active):not(.disabled) {
  background-color: silver;
}

#NavContent_NavigationButton5.checked:not(.active):not(.disabled) {
  border-color: silver;
}

#NavContent_NavigationButton3 {
  width: 100px;
}

#NavContent_NavigationButton3 {
  top: 589px;
  position: absolute;
}

#NavContent_NavigationButton3 {
  left: 8px;
  position: absolute;
}

#NavContent_NavigationButton3 {
  height: 100px;
}

#NavContent_NavigationButton3 {
  z-index: 2;
}

#NavContent_NavigationButton3 img {
  height: 64px;
}

#NavContent_NavigationButton3 svg {
  height: 64px;
}

#NavContent_NavigationButton3 {
  border-style: solid;
}

#NavContent_NavigationButton3.active {
  border-style: solid;
}

#NavContent_NavigationButton3.checked {
  border-style: solid;
}

#NavContent_NavigationButton3.disabled {
  border-style: solid;
}

#NavContent_NavigationButton3:not(.active):not(.checked) {
  border-width: 1px;
}

#NavContent_NavigationButton3.disabled {
  border-width: 1px;
}

#NavContent_NavigationButton3 {
  border-radius: 5px;
}

#NavContent_NavigationButton3:not(.disabled):not(.active):not(.checked) {
  background-color: rgba(255, 255, 255, 0);
}

#NavContent_NavigationButton3:not(.disabled):not(.checked) {
  border-color: black;
}

#NavContent_NavigationButton3.active:not(.disabled):not(.editMode) {
  background-color: silver;
}

#NavContent_NavigationButton3.checked:not(.active):not(.disabled) {
  background-color: silver;
}

#NavContent_NavigationButton3.checked:not(.active):not(.disabled) {
  border-color: silver;
}
