@import "mixins.scss";
#StatusContent_GroupBox1 {
	@include elemTop(4);
}
#StatusContent_GroupBox1 {
	@include elemLeft(1);
}
#StatusContent_GroupBox1 {
	@include elemWidth(1597);
}
#StatusContent_GroupBox1 {
	@include elemHeight(94);
}
#StatusContent_GroupBox1 {
		z-index: 0;
}
#StatusContent_GroupBox1 {
	@include border-radius(10px);
}
#StatusContent_GroupBox1 {
		background-color: rgba(245, 245, 245, 1);
}
#StatusContent_GroupBox1 {
		border-color: rgba(0, 0, 0, 1);
}
#StatusContent_GroupBox1 {
	> .header{
		border-color: rgba(0, 0, 0, 1);
	}
}
#StatusContent_AlarmLine1 {
	@include elemHeight(80);
}
#StatusContent_AlarmLine1 {
	@include elemTop(6);
}
#StatusContent_AlarmLine1 {
	@include elemLeft(223);
}
#StatusContent_AlarmLine1 {
	@include elemWidth(1149);
}
#StatusContent_AlarmLine1 {
		z-index: 0;
}
#StatusContent_AlarmLine1 {
	&.breaseAlarmLine{
		border-style: none;
	}
}
#StatusContent_AlarmLine1 {
	&.breaseAlarmLine .AlarmLineWrapper > div{
	@include border-radius(10px);
	}
}
#StatusContent_PushButton1 {
	@include elemTop(3);
}
#StatusContent_PushButton1 {
	@include elemLeft(31);
}
#StatusContent_PushButton1 {
	@include elemAutoWidth(127);
}
#StatusContent_PushButton1 {
	@include elemAutoHeight(87);
}
#StatusContent_PushButton1 {
		z-index: 1;
}
#StatusContent_PushButton1 {
	img{
	@include imageHeight(64);
	}
}
#StatusContent_PushButton1 {
	svg{
	@include imageHeight(64);
	}
}
#StatusContent_PushButton1 {
	img{
	@include imageWidth(64);
	}
}
#StatusContent_PushButton1 {
	svg{
	@include imageWidth(64);
	}
}
#StatusContent_PushButton1 {
		border-style: none;
}
#StatusContent_PushButton1 {
	&.active{
		border-style: none;
	}
}
#StatusContent_PushButton1 {
	&.checked{
		border-style: none;
	}
}
#StatusContent_PushButton1 {
	&.disabled{
		border-style: none;
	}
}
#StatusContent_PushButton1 {
	&:not(.disabled):not(.active):not(.checked){
		background-color: rgba(255, 255, 255, 0);
	}
}
#StatusContent_PushButton1 {
	@include text-alignment(center);
}
