@import "mixins.scss";
#RedStatusIndicator_statOn {
	@include elemTop(0);
}
#RedStatusIndicator_statOn {
	@include elemLeft(0);
}
#RedStatusIndicator_statOn {
		z-index: 1;
}
#RedStatusIndicator_statOn {
	@include elemWidth(12);
}
#RedStatusIndicator_statOn {
	@include elemHeight(12);
}
#RedStatusIndicator_statOn {
		background-color: rgba(255, 0, 0, 1);
}
#RedStatusIndicator_statOff {
	@include elemTop(0);
}
#RedStatusIndicator_statOff {
	@include elemLeft(0);
}
#RedStatusIndicator_statOff {
		z-index: 0;
}
#RedStatusIndicator_statOff {
	@include elemWidth(12);
}
#RedStatusIndicator_statOff {
	@include elemHeight(12);
}
#RedStatusIndicator_statOff {
		background-color: rgba(255, 255, 255, 1);
}
#RedStatusIndicator_txtLabel {
	@include elemTop(0);
}
#RedStatusIndicator_txtLabel {
	@include elemLeft(12);
}
#RedStatusIndicator_txtLabel {
	@include elemAutoWidth(300);
}
#RedStatusIndicator_txtLabel {
	@include elemAutoHeight(12);
}
#RedStatusIndicator_txtLabel {
		z-index: 2;
}
#RedStatusIndicator_txtLabel {
	@include text-alignment-all('left');
}
#RedStatusIndicator_txtLabel {
		font-size: 12px;
}
#RedStatusIndicator_txtLabel {
	@include font-weight-bold(false);
}
